<div class="modal-container">
  <div>
    <div class="container-subtitle2">
      <span mat-dialog-title class="title">{{ data.title }}</span>
      <div class="subtitle">{{ data.msg }}</div>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button
      *ngIf="data['cancelDisplayed']"
      mat-raised-button
      cdkFocusInitial
      color="primary"
      mat-button
      mat-dialog-close
      (click)="close()"
    >
      Nope
    </button>
    <button
      mat-raised-button
      color="warn"
      [mat-dialog-close]="true"
      (click)="accept()"
    >
      Go Ahead
    </button>
  </div>
</div>
